.u-section-1 .u-sheet-1 {
    min-height: 809px;
  }
  
  .u-section-1 .u-group-1 {
    width: 654px;
    min-height: 733px;
    height: auto;
    margin: 31px 233px 45px auto;
    background-color: #F6F6F6;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 0 19px;
  }
  
  .u-section-1 .u-text-1 {
    width: 372px;
    margin: 24px auto 0;
    color: #0F4A69;
  }
  
  .u-section-1 .u-form-1 {
    height: 621px;
    margin: 0 24px 0 171px;
  }
  
  .u-section-1 .u-form-group-1 {
    margin-top: 20px;
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-2 {
    margin-top: 20px;
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-top: 20px;
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-4 {
    margin-top: 20px;
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-5 {
    margin-top: 20px;
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-6 {
    margin-top: 20px;
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-7 {
    margin-top: 20px;
    margin-left: 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin: -583px 483px 0 102px;
    color: #000000;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin: 44px auto 0 84px;
    color: #000000;
  }
  
  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    margin: 46px auto 0 123px;
    color: #000000;
  }
  
  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    margin: 60px auto 0 11px;
    color: #000000;
  }
  
  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    margin: 44px auto 0 87px;
    color: #000000;
  }
  
  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
    margin: 47px auto 0 51px;
    color: #000000;
  }
  
  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
    margin: 43px auto 0 123px;
    color: #000000;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      height: auto;
      background-color: #F6F6F6;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-group-1 {
      margin-right: 66px;
      background-color: #F6F6F6;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-group-1 {
      width: 540px;
      margin-right: 0;
      background-color: #F6F6F6;
    }
  
    .u-section-1 .u-form-1 {
      margin-right: 0;
      margin-left: 81px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 426px;
      margin-left: 45px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-group-1 {
      width: 340px;
      background-color: #F6F6F6;
    }
  
    .u-section-1 .u-text-1 {
      width: 340px;
      color: #0F4A69;
    }
  
    .u-section-1 .u-form-1 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 271px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 77px;
    }
  
    .u-section-1 .u-text-8 {
      margin-left: 77px;
    }
  }