.u-header {
background-image: none;
}

.u-custom-color-1, .u-body.u-custom-color-1, .u-container-style.u-custom-color-1:before, .u-container-layout.u-custom-color-1:before, .u-table-alt-custom-color-1 tr:nth-child(even) {
color: #ffffff;
background-color: #659ebc;
}

header {
position: relative;
}

header{
display: block;
}

